# Redis database credentials, used for integration tests
REDIS_DATABASE_NAME="my-cloud-redis-database"
REDIS_HOST="redis-13579.o12345.us-west-2-mz.ec2.cloud.rlrcp.com"
REDIS_PORT="13579"
REDIS_USERNAME="default"
REDIS_PASSWORD="secure_password_123"


